<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Vue.js To-Do List with a for loop</title>
    <meta charset="utf-8"/>

    <body>

        <div id="app">
            <h2>For loops in Vue</h2>
			<ul>
				<li v-for="(todo, idx) in todos">
					<span v-if="todo.done" style="text-decoration:line-through"
						v-on:click="toggle"
						v-bind:data-idx="idx"
						>
					{{idx}} - {{ todo.text }}
					</span>
					<span v-else
						v-on:click="toggle"
						v-bind:data-idx="idx"
						>
					{{idx}} - {{ todo.text }}
					</span>
				</li>
			</ul>
		</div>


        <script>
			// Create a Vue app in here
			var app = new Vue({
				el: '#app',
				data: {
					todos: [ ]
				},
				methods: {
					toggle: function(ev) {
						let idx = ev.target.getAttribute('data-idx');
						//alert(`List element #${idx} has been clicked`);
						this.todos[idx].done = !this.todos[idx].done;
					}
				},

				// This is a Vue lifecycle hook
				created() {
					fetch("https://api.myjson.com/bins/ruwzs")
						.then(response => response.json())
						.then(json => {
							this.todos = json.todos;
						});
				},
			});


			// 2. Mark items off with a click
        </script>
    </body>
</html>
