<ol start="0">
    <li>this is an ordered list</li>
    <li>this is another element in the list</li>
    <li>it contains items</li>
    <li>which are numbered</li>
</ol>


<ul>
    <li>this is an unordered list</li>
    <li>this is another element in the list</li>
    <li>it contains items</li>
    <li>which are not numbered</li>
</ul>




<h1>this is a heading 1 -
    It disregardes your 
    white       space   when it is rendered</h1>
<h2>this is a heading 2</h2>
<h3>this is a heading 3</h3>
<h4>this is a heading 4</h4>
<h5>this is a heading 5</h5>
<h6>this is a heading 6</h6>
<h7>this is a heading 7</h7>


<p> This is 
a paragraph tag.


like the h* tags, it is as 
wide as your
            display, and 
            the whitespace inside of it

            is disregarded by the <a href="https://getfirefox.com">browser</a> that you are currently using


            Here is a picture of a dank meme
            <img src="https://www.dictionary.com/e/wp-content/uploads/2018/03/dank-meme.jpg"
                 alt="trust me, this is pretty dank"
                 title="this is what you see when your mouse hovers over this dank image"
            />
</p>

<pre> This is 
a preformatted text tag.


like the h* tags, it is as 
wide as your
            display, and 
            the whitespace inside of it

            is retained by the browser
</pre>

<code> This is 
a code tag.

The code tag just uses a monospace font for its 
contents, but flows the text like a p tag, discarding your whitespace.
</code>
