<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Vue.js To-Do List with a for loop</title>
    <meta charset="utf-8"/>

    <body>
        <div id="app">
			<h2>{{computed_page_title}}</h2>
			<h4>{{computed_list_title}}</h4>
			<p v-if="remaining == 0">Congratulations!  You're all caught up!  Go have an Orange Dreamsicle</p>
			<div v-else>
				<p>I have completed {{completed}} items, and have {{remaining}} yet to finish</p>
				<ul>
					<li v-for="(todo, idx) in todos">
						<span v-if="todo.done" style="text-decoration:line-through"
							v-on:click="toggle"
							v-bind:data-idx="idx"
							>
						{{idx}} - {{ todo.text }}
						</span>
						<span v-else
							v-on:click="toggle"
							v-bind:data-idx="idx"
							>
						{{idx}} - {{ todo.text }}
						</span>
					</li>
				</ul>
			</div>
		</div>

        <script>
			// Create a Vue app in here
			var app = new Vue({
				el: '#app',
				data: {
					todos: [ ],
					title: "This is my dynamic TODO list",
					list_title : [ "this", "is", "the", "title", "of", "my",
						"unordered", "list,", "taken", "from", "a",
						"JavaScript", "array", ],
				},
				methods: {
					toggle: function(ev) {
						let idx = ev.target.getAttribute('data-idx');
						//alert(`List element #${idx} has been clicked`);
						this.todos[idx].done = !this.todos[idx].done;
					}
				},

				computed: {
					computed_page_title: function() {
						return this.title.toUpperCase();
					},

					computed_list_title: function() {
						return this.list_title.join(' ').toUpperCase();
					},

					completed : function() {
						let c = 0;
						for (item of this.todos) {
							if (item.done) c++;
						}
						return c;
					},
					remaining :  function() {
						let r = 0;
						for (item of this.todos) {
							if (!item.done) r++;
						}
						return r;
					},
				},

				// This is a Vue lifecycle hook
				created() {
					fetch("https://api.myjson.com/bins/ruwzs")
						.then(response => response.json())
						.then(json => {
							this.todos = json.todos;
						});
				},
			});
        </script>
    </body>
</html>
