<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Vue.js To-Do List with a for loop</title>
    <meta charset="utf-8"/>

    <body>

        <div id="app">
            <h2>For loops in Vue</h2>
			<ul>
				<li v-for="todo in todos">
					<span v-if="todo.done" style="text-decoration:line-through">
					{{ todo.text }}
					</span>
					<span v-else>
					{{ todo.text }}
					</span>
				</li>
			</ul>
		</div>


        <script>
			// Create a Vue app in here
			var app = new Vue({
				el: '#app',
				data: {
					todos: [
						{ done: true,  text: 'Learn Javascript' },
						{ done: true, text: 'Learn Vue.js' },
						{ done: true, text: 'Make something awesome' },
						{ done: false, text: 'Lurn to spel' },
						{ done: false, text: 'Get some Orange Dreamsicles' },
					]
				}
			});


			// 0. Render items from a TODO which is a JavaScript Array
			// 1. Strike-through items which have been marked as "done"
			// 2. Mark items off with a click
        </script>
    </body>
</html>
